.rss-logo {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url('https://www.zupimages.net/up/23/23/xfyj.png');
  background-size: cover;
}
